* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
footer {
  width: 100%;
}
main {
  min-height: 80vh;
}
/* =============================== */
/*              Navbar             */
/* =============================== */
#site-navbar {
  border-bottom: 7px solid #d81b60;
  border-radius: 0 0 30px 30px;
}
.img-logo {
  width: 200px;
  height: 50px;
}

#site-navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  width: auto;
}

.active {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #d81b60;
  width: auto;
  line-height: 20pt;
  color: #d81b60 !important;
}

#site-navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #d81b60;
  width: auto;
  line-height: 20pt;
  color: #d81b60;
}
/* =============================== */
/*          Fondo                  */
/* =============================== */

.fondo_principal {
  background-image: url(../img/foto_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 50px;
}
.fondo_contact {
  background-image: url(../img/imagen_contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 50px;
}
.fondo_past {
  background-image: url(../img/imagen_past2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 50px;
}
.fondo_stats {
  background-image: url(../img/imagen_stast2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 50px;
}
.fondo_upcoming {
  background-image: url(../img/imagen-upcoming.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 50px;
}

.textosubtitulo {
  text-align: center;
  color: whitesmoke;
  font: bold 70px "Nunito", sans-serif;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.445);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
/*-----Latest Posts----------------*/
.news-block-horizontal-content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.section-title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  padding-bottom: 8px;
  position: relative;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #ccc;
}
.imageCard {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.meta {
  display: flex;
  justify-content: space-between;
}
.meta a {
  color: #919191;
  font-size: 16px;
  text-decoration: none;
}
.meta p {
  font-size: 16px;
  color: #d81b60;
}

.news-block-horizontal-link a {
  text-decoration: none;
  color: black;
}

.place p {
  color: #919191;
  font-size: 16px;
}

p {
  line-height: 24px;
  font-size: 16px;
  color: #8a8a93;
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn-style-1 {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.news-block-horizontal-img {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

/*--------Categorias---------------*/
.sidebar {
  background-color: #f8f9fa;
  padding: 30px;
}
.sidebar-title h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  padding-bottom: 8px;
  position: relative;
  padding: 0px 0px 15px 0px;
}
.cat-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.cat-list {
  position: relative;
  color: #84858a;
  font-size: 14px;
  background-color: #ffffff;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
input[type="checkbox"] {
  /* remove standard background appearance */
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  /* background-color only for content */
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
}

input[type="checkbox"]:checked {
  background-color: #d81b60;
}

/* =============================== */
/*       Media Queries Navbar      */
/* =============================== */

/* -------- From small PC -------- */

@media screen and (min-width: 992px) {
  #site-navbar .navbar-nav .nav-item {
    padding: 1em 0.5em;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-weight: 400 !important;
  }

  .nav-item {
    margin-right: 0;
  }
}
/* -------- From large PC -------- */

@media screen and (min-width: 1200px) {
  #site-navbar .navbar-nav .nav-item {
    padding: 1em;
  }
  .text-carousel h1 {
    font-size: 1em;
  }
}
/*---------Celulares---------------*/
@media screen and (max-width: 1025px) {
  .rowDetail {
    gap: 1;
  }
  .img-detail {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .img-logo {
    width: 150px;
  height: 50px;
  }
  .fondo_principal {
    min-height: 400px;
  }
  .fondo_upcoming {
    min-height: 400px;
  }
  .fondo_past {
    min-height: 400px;
  }
  .fondo_contact {
    min-height: 400px;
  }
  .fondo_stats {
    min-height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .news-block-horizontal-one {
    flex-direction: column;
    align-items: center;
  }
  .news-block-horizontal-img {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 540px) {
  .fondo_principal {
    min-height: 300px;
  }
  .textosubtitulo {
    font-size: 50px;
  }
}

@media screen and (max-width: 414px) {
  .img-logo {
    width: 100px;
    height: 50px;
  }
  .news-block-horizontal-one {
    flex-direction: column;
  }

  .fondo_principal {
    min-height: 300px;
  }
  .textosubtitulo {
    font-size: 40px;
  }
  .img-detail {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .meta h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 280px) {
  .img-fuid {
    width: 75px;
    height: 30px;
  }

  .button-social {
    width: 5px;
    height: 5px;
    display: flex;
  }
  .textosubtitulo {
    font-size: 40px;
  }
  .img-detail {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  /*Detail Cinema*/
  .meta h4 {
    font-size: 12px;
  }
  .meta .p-meta{
    font-size: 12px;
    color: #d81b60;
  }
}

/*Tablas*/
table th {
  text-align: center;
}
table td {
  text-align: center;
}
.table-title h3 {
  text-align: center;
  color: #d81b60;
  font-size: 22px;
  line-height: 24px;
  position: relative;
  padding: 0px 0px 20px 0px;
}

/*Detail Cinema*/
.title-detail p {
  text-align: justify;
  line-height: 24px;
  font-size: 14px;
  color: #8a8a93;
  margin-top: 0;
  margin-bottom: 1rem;
}

.img-detail {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.meta .p-meta{
  font-size: 15px;
  color: #d81b60;
}

.noResult h4{
  color: #d81b60;
  text-align: center;
}